#mainA {
    background: linear-gradient(180deg, rgb(0, 0, 0) -1.061617131462919615%,rgba(28, 4, 43, 1) 99.99999999999997%);
    mix-blend-mode: hard-light;
    display: flex;
    position: relative;
    isolation: isolate;
    flex-direction: row;
    width: 100%;
    min-height: 800px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
#SpotifyLogoS {
    display: flex;
    position: absolute;
    isolation: isolate;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 128px;
    height: 128px;
    left: 1550px;
    top: 607px;
    overflow: hidden;
}

#leftRectangle {
    background-color: rgba(0, 0, 0, 1);
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
  
#tastyfy {
    text-align: left;
    white-space: pre-wrap;
    font-synthesis: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Sansation;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    text-shadow: 0px 8px 4px rgba(63, 61, 89, 1);
    position: absolute;
    left: 15.5%;
    top: 30px;
}

#backRectangle {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 30px;
    width: 51%;
    height: 50px;
    position: absolute;
    left: 27%;
    top: 140px;

    &:hover {
        background-color: rgba(200, 200, 200, 1);
    }

    &:active {
        background-color: rgba(180, 180, 180, 1);
    }
}

  
#back {
    text-align: center;
    white-space: pre-wrap;
    font-synthesis: none;
    color: rgba(0, 0, 0, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    left: 41%;
    line-height: 270%;
    position:absolute;
}
  
#q1 {
    display: flex;
    position: absolute;
    isolation: isolate;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    box-sizing: border-box;
    width: 10px;
    height: 30%;
    left: 29%;
    top: 35%
}
  
#vector1 {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#puma {
    height: 360px;
    width: 16%;
    object-fit: cover;
    position: absolute;
    left: 18%;
    top: 82px;
}

#snake {
    height: 360px;
    width: 16%;
    object-fit: cover;
    position: absolute;
    left: 39%;
    top: 82px;
    filter: brightness(0.8);
}

#spider {
    height: 360px;
    width: 16%;
    object-fit: cover;
    position: absolute;
    left: 60%;
    top: 82px;
    filter: brightness(0.9);
}
  
#penguin {
    height: 360px;
    width: 16%;
    object-fit: cover;
    position: absolute;
    left: 81%;
    top: 82px;
    filter: brightness(0.8);
}
  
#sonyaKondratskaBackESpan1 {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}
  
#sonyaKondratskaBackESpan2 {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}
  
#sonyaKondratskaBackE {
    text-align: center;
    white-space: pre-wrap;
    font-synthesis: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: unset;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    width: 18%;
    height: 157px;
    position: absolute;
    left: 17%;
    top: 470px;
}
  
#andriiMieshkovFrontESpan1 {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}
  
#andriiMieshkovFrontESpan2 {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}
  
#andriiMieshkovFrontE {
    text-align: center;
    white-space: pre-wrap;
    font-synthesis: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: unset;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    width: 18%;
    height: 157px;
    position: absolute;
    left: 38%;
    top: 470px;
}
  
#tykhonenkoMykytaUiUxSpan1 {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}
  
#tykhonenkoMykytaUiUxSpan2 {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

#tykhonenkoMykytaUiUx {
    text-align: center;
    white-space: pre-wrap;
    font-synthesis: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: unset;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    width: 18%;
    height: 157px;
    position: absolute;
    left: 59%;
    top: 470px;
}
  
#shabanovMetinDataAnaSpan1 {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}
  
#shabanovMetinDataAnaSpan2 {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}
  
#shabanovMetinDataAna {
    text-align: center;
    white-space: pre-wrap;
    font-synthesis: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: unset;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    width: 18%;
    height: 157px;
    position: absolute;
    left: 80%;
    top: 470px;
}
  
#rectangle60 {
    background-color: rgba(255, 255, 255, 1);
    width: 88%;
    left: 6%;
    height: 1px;
    position: absolute;
    top: 30%;
}

#rectangle61 {
    background-color: rgba(255, 255, 255, 1);
    width: 88%;
    left: 6%;
    height: 1px;
    position: absolute;
    top: 30%;
}
  
#rectangle62 {
    background-color: rgba(255, 255, 255, 1);
    width: 88%;
    left: 6%;
    height: 1px;
    position: absolute;
    top: 30%;
}
  
#rectangle63 {
    background-color: rgba(255, 255, 255, 1);
    width: 88%;
    left: 6%;
    height: 1px;
    position: absolute;
    top: 30%;
}

#description{
    margin-left: 15%;
    top: 500px;
    right: 0px;
    margin-bottom: 200px;
    position: relative;
    padding: 8%;
    padding-top: 5%;
}
  
#about {
    text-align: center;
    white-space: pre-wrap;
    font-synthesis: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Lexend;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0px;
}
  
#textAbout {
    text-align: center;
    // white-space: pre-wrap;
    font-synthesis: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    position: relative;
    top: 15px;
    margin-bottom: 250px;
}
  
  
