<!doctype html>
<html>

  <head>

    <title>Tastyfy</title>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">

    <!-- Google fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/spotify.png') }}">


  </head>

  <body>

    <div id="header">

      <!-- Static navbar -->
      <nav class="">


      </nav>

    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>



  </body>

</html>
