
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Sansation';
  weight: 400;
  src: url('./assets/fonts/Sansation_Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Sansation';
  weight: 300;
  src: url('./assets/fonts/Sansation_Light.ttf') format('truetype')
}
@font-face {
  font-family: 'Sansation';
  weight: 700;
  src: url('./assets/fonts/Sansation_Bold.ttf') format('truetype')
}


@font-face {
  font-family: 'Lexend';
  weight: 400;
  src: url('./assets/fonts/Lexend-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Lexend';
  weight: 300;
  src: url('./assets/fonts/Lexend-Light.ttf') format('truetype')
}
@font-face {
  font-family: 'Lexend';
  weight: 700;
  src: url('./assets/fonts/Lexend-Bold.ttf') format('truetype')
}


